.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
  background-color: rgb(255, 223, 162);
}
